html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #333;
    color: #777;
}

a, a:link {
    color: #777;
}

a:hover {
    color: #333;
    cursor: pointer;
}

div.main-container {
    height: 100%;
}

div.main-row {
    height: 100%;
    min-height: 100%;
}

.navbar-static-top {
    margin-bottom: 0;
    height: 56px;
    border-bottom: 5px solid #91B547;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0px;
}

div.header {
    padding-right: 0px;
    padding-left: 0px;
}

div.header a:link {
    color: #777;
}

div.header .row {
    margin-left: 0px;
    margin-right: 0px;
}

div#left-user {
    height: 56px;
    border-bottom: 5px solid #333;
    font-size: 18px;
    text-transform: capitalize;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #91B547;
}

div#left-user span#username {
    margin-left: 10px;
    color: #eee;
}

div#dbProfiles {
    color: #777;
    background-color: #f9f9f9;
    padding-bottom: 5px;
    margin-top: -15px;
    height: 100%;
}

div#dbProfiles li.active {
    text-decoration: none;
    background-color: #e7e7e7;
    color: #777;
    border-right: 2px solid #91B547;
}

div#dbProfiles li a:link {
    color: #777;
}

div#dbProfiles li.active a:link {
    color: #777;
}

div#dbProfiles li:hover a:link {
    color: #777;
}

div.body-content {
    padding-right: 0px;
    padding-left: 0px;
    height: calc(100% - 56px);
}

div#login {
    position: relative;
    top: calc(50% - 110px);
    transform: translateY(calc(50% - 100px));
}

div#loginFormContainer {
    width: 400px;
    height: 200px;
    margin: auto auto;
}

div#login-logo {
    font-size: 18px;
    line-height: 20px;
    height: 50px;
    border-bottom: 5px solid #91B547;
    padding-top: 15px;
    margin-bottom: 15px;
}

div.main-content {
    margin-left: 0px;
    margin-right: 0px;
    height: 100%;
}

div#query-content {
    padding-top: 15px;
}

div#query {

}

div#query-main {
    padding-right: 0;
}

textarea#queryArea {
    width: calc(100% - 30px);
    min-height: 400px;
    outline: none;
    font-size: 12px;
}






/***********************
     DB Navigation
***********************/

button#showDBNav {
    width: 20px;
    padding: 2px;
    height: 45px;
    position: relative;
    top: -200px;
    left: 1px;
    color: #777;
    background-color: #333;
    border-color: #777;
    outline: none;
}

button#showDBNav:hover {
    color: #91B547;
    border-color: #91B547;
}

div#dbNav {
    color: #777;
    background-color: #f9f9f9;
    height: calc(100% - 15px);
    overflow: scroll;
}

div#dbNav hr {
    margin: 10px 0 10px 0;
    height: 2px;
    color: #91B547;
    background-color: #91B547;
    border: none;
}

div#dbNav ul {
    padding: 0 0 0 5px;
    font-size: 12px;
}

div#dbNav li {
   list-style-type: none;
}

div#dbNav dl {
    margin: 0;
}

div#dbNav dl dt {
    width: 70px;
    margin-left: 5px;
    text-align: left;
}

div#dbNav dl dd {
    margin-left: 0;
}

div span.glyphicon-refresh {
    float: right;
}

.db-loading {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}





ul#results {
    border-bottom: none;
}

ul#results li a {
    border-radius: 0px;
    font-weight: bold;
    padding: 5px 10px;
}

div.result {
    border-top: 5px solid #91B547;
    max-height: 326px;  /*TODO*/
    overflow: hidden;
}

div.result th, div.result tr {
    background-color: #f9f9f9;
}

div.result .panel {
    margin: 0;
    border-radius: 0px;
}

div.result .panel .label {
    font-size: 10px;
}

div.result .panel-body {
    font-size: 12px;
    padding: 5px 5px 5px 5px;
}

div.result .panel-body .alert {
    margin: 8px 0 5px 0;
    padding: 8px;
}

div.resultQuery {
    margin: 5px 0 0 0;
}

a.closeTab {
    display: block;
    float: right;
    margin: 1px 3px 0 7px;
}

button.cancel-btn {
    float: right;
    margin: 5px;
}

div.result-table-wrapper {
    max-height: 270px;
    overflow: overlay;
}

table.resultsTable {
    font-size: 12px;
    margin-bottom: 0px;
}

div#createDBProfileForm .well {
    border-radius: 0px;
}







/***********************
        SETTINGS
***********************/

div#settings-header {
    border-bottom: 5px solid #91B547;
}

div#settings-header h2 {
    margin-top: 15px;
}

div#settings-nav {
    color: #777;
    background-color: #f9f9f9;
    padding-bottom: 5px;
    height: 100%;
}

div#settings-nav li.active {
    text-decoration: none;
    background-color: #e7e7e7;
    color: #777;
}

div#settings-main-row {
    margin: 0px;
}

div#settings-main-row .panel {
    border-radius: 0px;
}

div#settings-main-row li.active {
    background-color: #eee;
}

div#createTeamForm .well {
    border-radius: 0px;
}

div#createUserForm .well {
    border-radius: 0px;
}

div#passwordChange {
    margin: 15px 0 0 15px;
}