<form role="form" name="dbProfileCreateForm" enctype="multipart/form-data">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" ng-model="dbProfileCreateRequest.name"/><br/>

    <label for="connectionURL">Connection URL</label>
    <input type="text" class="form-control" id="connectionURL" ng-model="dbProfileCreateRequest.connectionURL"/><br/>

    <label for="driver">Driver</label>
    <input id="driver" type="file" file-model="dbProfileCreateRequest.driver"/><br/>
    <br/>

    <!--<div>
      <label for="accessUsers">Access Users</label>
      <select id="accessUsers" multiple class="form-control" ng-model="request.userIDs" ng-options="user.id as user.username for user in users">
      </select><br/>
    </div>

    <div>
      <label for="accessTeams">Access Teams</label>
      <select id="accessTeams" multiple class="form-control" ng-model="request.teamIDs" ng-options="team.id as team.name for team in teams">
      </select><br/>
    </div>-->

    <label for="username">UserName</label>
    <input type="text" class="form-control" id="username" ng-model="dbProfileCreateRequest.username"/><br/>

    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" ng-model="dbProfileCreateRequest.password"/><br/>

    <input type="submit" class="btn btn-default" value="Submit" ng-click="createDBProfile(dbProfileCreateRequest)"/>
  </div>
</form>