<div class="row" ng-controller="HeaderCtrl">
  <div id="left-user" class="col-md-2">
    <img ng-src="https://www.gravatar.com/avatar/{{authedUser.attributes.GRAVATAR_HASH}}?s=51" />
    <span id="username">{{authedUser.username}}</span>
  </div>
  <div class="col-md-10 navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Queryitz</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="{{link.active ? 'active' : ''}}" ng-repeat="link in headerLinks">
          <a href="{{link.href}}" ng-click="setActive($index)">{{link.text}}</a>
        </li>
        <li><a href="#/" ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
