<div class="row">
  <div class="col-md-12">
    <div id="loginFormContainer">
      <div id="login-logo">
        Queryitz
      </div>

      <div class="alert alert-danger" role="alert" ng-show="showLoginFailedAlert">Login Failed</div>

      <form role="form" name="loginForm">
        <div class="form-group">
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Username" ng-model="loginRequest.username">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"  ng-model="loginRequest.password">
        </div>
        <button type="submit" class="btn btn-default" ng-click="login()">Login</button>
      </form>
    </div>
  </div>
</div>
