<div class="row main-content" id="query-content" ng-controller="DBProfileCtrl">
  <div id="dbProfiles" class="col-md-2">
    <ul class="nav nav-stacked">
      <li>
        <a ng-click="initCreateDBProfile()"><span class="glyphicon glyphicon-plus-sign"></span> Create Profile</a>
      </li>
      <li ng-repeat="dbProfile in dbProfiles" ng-class="dbProfile.active">
        <a ng-click="changeDBProfile(dbProfile.id)">{{dbProfile.name}}</a>
      </li>
    </ul>
  </div>

  <div ng-show="!showCreateDBProfile" id="query" ng-class="showDBNav ? 'col-md-8' : 'col-md-10'" ng-controller="QueryCtrl">
    <div class="row">
      <div id="query-main" class="col-md-12">
        <textarea class="mousetrap" id="queryArea" contenteditable="true" ng-model="sessionQueries" ng-controller="SavedSessionCtrl">
        </textarea>
        <button type="button" class="btn btn-default" id="showDBNav" ng-click="$parent.showDBNav = !$parent.showDBNav" title="Show Database Navigation">
          <span id="showDBNavIcon" class="glyphicon glyphicon-option-vertical"></span>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul id="results" class="nav nav-tabs" role="tablist">
          <li class="{{result.active ? 'active' : ''}}" ng-repeat="result in results">
            <a ng-click="selected(result)" role="tab" data-toggle="tab">Query {{$index + 1}}</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane result {{result.active ? 'active' : ''}}" ng-repeat="result in results">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-10">
                    <span class="label {{result.statusClass}}">{{result.status}}</span> {{result.elapsedTime}}<br/>
                    <div class="resultQuery">{{result.query}}</div>
                  </div>
                  <div class="col-md-2">
                    <a ng-click="closeTab(result)" class="closeTab"><span class="glyphicon glyphicon-remove"></span></a>
                    <button ng-show="result.status == 'RUNNING'" type="button" class="btn btn-xs btn-danger cancel-btn" ng-click="cancelQuery(result)">Cancel</button>
                  </div>
                </div>
                <div ng-show="result.error" class="row">
                  <div class="col-md-12">
                    <div class="alert alert-danger" role="alert">
                      <strong>{{result.errorString}}</strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="result-table-wrapper">
              <table ng-show="!result.error" class="table table-hover resultsTable">
                <thead>
                <tr>
                  <th ng-repeat="columnHeader in result.resultData.columnHeaders">{{columnHeader}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in result.resultData.rowResults">
                  <td ng-repeat="column in row.columns">{{column.value}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="dbNav" ng-show="showDBNav && !showCreateDBProfile" class="col-md-2" ng-controller="QueryDBIndexCtrl">
    <h5>{{dbNavName}} <a ng-click="refreshDBIndex()" title='{{dbLoading ? "Loading" : "Refresh"}}'><span class="glyphicon glyphicon-refresh" ng-class="{'db-loading': dbLoading}"></span></a></h5>
    <hr/>
    <ul>
      <li ng-repeat="schema in schemas">
        <a ng-click="getTables(schema)">{{schema.name}}</a>
        <ul ng-show="schema.show">
          <li ng-repeat="table in schema.tables">
            <a ng-click="getColumns(schema, table)">{{table.name}}</a>
            <ul ng-show="table.show">
              <li ng-repeat="column in table.columns">
                <a ng-click="getColumn(schema, table, column)">{{column.name}}</a>
                <dl class="dl-horizontal" ng-show="column.show">
                  <dt ng-repeat-start="fieldType in fieldTypes">{{fieldType}}</dt>
                  <dd ng-repeat-end>{{column.data[fieldType]}}</dd>
                </dl>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div ng-show="showCreateDBProfile" id="createDBProfileForm" class="col-md-10">
    <div class="well" ng-include="'partials/db-profile-create-form.html'"></div>
  </div>
</div>