<div class="row main-content" id="settings-content" ng-controller="SettingsCtrl">

  <div id="settings-nav" class="col-md-2">
    <div id="settings-header">
      <h2>Settings</h2>
    </div>

    <ul class="nav nav-stacked">
      <li ng-repeat="settingsModule in settingsModules" class="{{settingsModule.active ? 'active' : ''}}">
        <a href="{{settingsModule.linkURL}}">{{settingsModule.linkText}}</a>
      </li>
    </ul>
  </div>

  <div class="col-md-10" ng-include="selectedModule.templateURL"></div>

</div>