<div class="row" ng-controller="SettingsDBProfileCtrl">

  <div class="col-md-12">
    <h3>DB Profiles</h3>
  </div>

  <div class="row" id="settings-main-row">

    <div class="col-md-2">
      <ul class="nav nav-stacked">
        <li>
          <a ng-click="initCreateDBProfile()"><span class="glyphicon glyphicon-plus-sign"></span> Create Profile</a>
        </li>
        <li ng-repeat="dbProfile in dbProfiles" class="{{dbProfile.active ? 'active' : ''}}">
          <a ng-click="setSelected(dbProfile)">{{dbProfile.name}}</a>
        </li>
      </ul>
    </div>

    <div ng-show="!showCreateDBProfile" class="col-md-10">
      <div class="panel panel-default" ng-show="selectedDBProfile">
        <div class="panel-body">
          <h4>{{selectedDBProfile.name}}</h4><br/>

          <table class="table">
            <tr>
              <td>Name:</td><td>{{selectedDBProfile.name}}</td>
            </tr>
            <tr>
              <td>Driver Class:</td><td>{{selectedDBProfile.driverClass}}</td>
            </tr>
            <tr>
              <td>Connection URL:</td><td>{{selectedDBProfile.connectionURL}}</td>
            </tr>
            <tr>
              <td>Owner:</td><td>{{selectedDBProfile.owner.username}}</td>
            </tr>
          </table>

          <button type="button" class="btn btn-default" ng-click="deleteDBProfile(selectedDBProfile)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </div>
      </div>
    </div>

    <div ng-show="showCreateDBProfile" id="createDBProfileForm" class="col-md-10">
      <div class="well" ng-include="'partials/db-profile-create-form.html'"></div>
    </div>
  </div>
</div>