<div class="row" ng-controller="SettingsTeamCtrl">

  <div class="col-md-12">
    <h3>Teams</h3>
  </div>

  <div class="row" id="settings-main-row">

    <div class="col-md-2">
      <ul class="nav nav-stacked">
        <li>
          <a ng-click="initCreateTeam()"><span class="glyphicon glyphicon-plus-sign"></span> Create Team</a>
        </li>
        <li ng-repeat="team in teams" class="{{team.active ? 'active' : ''}}">
          <a ng-click="setSelected(team)">{{team.name}}</a>
        </li>
      </ul>
    </div>

    <div ng-show="!showCreateTeam" class="col-md-10">
      <div class="panel panel-default" ng-show="selectedTeam">
        <div class="panel-body">
          <h4>{{selectedTeam.name}}</h4><br/>

          <table class="table">
            <tr>
              <td>Name:</td><td>{{selectedTeam.name}}</td>
            </tr>
            <tr>
              <td>Description:</td><td>{{selectedTeam.description}}</td>
            </tr>
          </table>

          <button type="button" class="btn btn-default" ng-click="deleteTeam(selectedTeam)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>

          <button type="button" class="btn btn-default" ng-click="showTeamUsers(selectedTeam)">
            <span class="glyphicon glyphicon-chevron-right"></span> Show Users
          </button>

          <div class="row" ng-show="showUsers">
            <div class="col-md-12">
              <br/>
              <form class="form-inline" role="form">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" ng-model="userSelected" placeholder="Username">
                  </div>
                </div>
                <button type="button" class="btn btn-default" ng-click="addUser(userSelected, selectedTeam)"><span class="glyphicon glyphicon-plus"></span></button>
              </form><br/>

              <table class="table table-striped">
                <tr>
                  <th>Username</th><th>Email</th><th></th>
                </tr>
                <tr ng-repeat="user in teamUsers">
                  <td>{{user.username}}</td>
                  <td>{{user.email}}</td>
                  <td>
                    <button type="button" class="btn btn-default" ng-click="deleteTeamUser(selectedTeam, user)">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="showCreateTeam" id="createTeamForm" class="col-md-10">
      <div class="well">
        <form role="form" name="createTeamForm" enctype="multipart/form-data">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" ng-model="teamCreateRequest.name"/><br/>

            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" ng-model="teamCreateRequest.description"/><br/>

            <input type="submit" class="btn btn-default" value="Submit" ng-click="createTeam(teamCreateRequest)"/>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>