<div class="row" ng-controller="SettingsUserCtrl">

  <div class="col-md-12">
    <h3>Users</h3>
  </div>

  <div class="row" id="settings-main-row">

    <div class="col-md-2">
      <ul class="nav nav-stacked">
        <li>
          <a ng-click="initCreateUser()"><span class="glyphicon glyphicon-plus-sign"></span> Create User</a>
        </li>
        <li ng-repeat="user in users" class="{{user.active ? 'active' : ''}}">
          <a ng-click="setSelected(user)">{{user.username}}</a>
        </li>
      </ul>
    </div>

    <div ng-show="!showCreateUser" class="col-md-10">
      <div class="panel panel-default" ng-show="selectedUser">
        <div class="panel-body">
          <h4>{{selectedUser.username}}</h4><br/>

          <table class="table">
            <tr>
              <td>Username:</td><td>{{selectedUser.username}}</td>
            </tr>
            <tr>
              <td>Email:</td><td>{{selectedUser.email}}</td>
            </tr>
            <tr>
              <td>Enabled:</td><td>{{selectedUser.enabled}}</td>
            </tr>
            <tr>
              <td>Role:</td>
              <td>
                <ul class="nav nav-stacked">
                  <li ng-repeat="role in selectedUser.userRoles">{{role.role}}</li>
                </ul>
              </td>
            </tr>
          </table>

          <button type="button" title="Delete User" class="btn btn-default" ng-click="deleteUser(selectedUser)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>

          <button type="button" title="Change Password" class="btn btn-default" ng-click="showPasswordChange = !showPasswordChange">
            <span class="glyphicon glyphicon-lock"></span>
          </button>

          <div class="row" ng-show="showPasswordChange" id="passwordChange">
            <div class="col-md-10">
              <form role="form" class="form-horizontal" name="changePasswordForm">
                <div class="form-group">
                  <div class="alert alert-success" role="alert" ng-show="showPasswordChangedAlert">Password Changed</div>
                  <div class="alert alert-danger" role="alert" ng-show="showPasswordChangedFailedAlert">Password Changed Failed</div>

                  <label for="currentPassword">Current Password</label>
                  <input type="password" class="form-control" id="currentPassword" ng-model="passwordChangeRequest.password"/><br/>

                  <label for="newPassword">New Password</label>
                  <input type="password" class="form-control" id="newPassword" ng-model="passwordChangeRequest.newPassword"/><br/>

                  <input type="submit" class="btn btn-default" value="Submit" ng-click="changePassword(selectedUser, passwordChangeRequest)"/>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="showCreateUser" id="createUserForm" class="col-md-10">
      <div class="well">
        <form role="form" name="createUserForm" enctype="multipart/form-data">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" ng-model="userCreateRequest.user.username"/><br/>

            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" ng-model="userCreateRequest.user.email"/><br/>

            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" ng-model="userCreateRequest.user.password"/><br/>

            <label class="checkbox-inline">
              <input type="checkbox" id="enabled" value="true" ng-model="userCreateRequest.user.enabled"/> Enabled
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="tempPassword" value="true" ng-model="userCreateRequest.user.tempPassword"/> Temporary Password
            </label><br/><br/>

            <label for="role">Role</label>
            <select class="form-control" id="role" ng-options="role for role in roles" ng-model="userCreateRequest.role">
              <option value="">Select Role</option>
            </select>
            <br/>

            <input type="submit" class="btn btn-default" value="Submit" ng-click="createUser(userCreateRequest)"/>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>